<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="fragments/header :: main-header('View Goals')"></head>
</head>
<body>

<nav th:if="${#authentication.principal.role == 'parent'}" th:replace="fragments/navbar :: mainNavbar">
    <h2>Thrifty</h2>
</nav>

<nav th:if="${#authentication.principal.role == 'child'}" th:include="fragments/child-navbar :: childNavbar">
    <h2>Thrifty</h2>
</nav>

<div class="profile">
    <div th:each="goal:${goals}" class="panel panel-default">

        <div th:text="${goal.goalName}" class="panel-heading">



        </div>
        <div class="panel-body">
            <ul>
                Total Points: <li class="total-points" th:text="${goal.totalPoints}"></li>
                <br />
                Current Points: <li class="track-progress" th:text="${goal.trackProgress}"></li>
                <br />
                <a th:href="@{/goals/{id}(id=${goal.id})}">View Goal</a>
                <br />
                <a th:href="@{/tasks/create/(id=${goal.id})}">Add tasks</a>
            </ul>
            <div class="progress">
                <div th:text="${goal.trackProgress}" class="myBar progress-bar" role="progressbar" aria-valuenow="${goal.totalPoints}"></div>
            </div>
        </div>
    </div>
</div>
<br/>
<hr/>
<footer th:replace="fragments/footer :: mainFooter"></footer>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="/js/progress-bar.js"></script>
</body>
</html>