<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-header('Create new goal')">
</head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>
<div class="profile">
<br/>
<h1>Create a New Goal</h1>
<div class="col-md-6 col-md-offset-3 register-form">
<form th:action="@{/goals/create}" method ="post" th:object = "${goal}">
<div class="form-group">
    <label for="goalName">Goal:</label>
    <input th:field="*{goalName}" id="goalName" type="text"/>
</div>
    <!--<p th:if="${#fields.hasErrors('goal_name')}" th:errors="*{goal_name}"/>-->


    <div class="form-group">
    <label for="totalPoints">Point Value:</label>
    <input th:field="*{totalPoints}" id="totalPoints" type="text"/>
    </div>
    <!--<p th:if="${#fields.hasErrors('start_date')}" th:errors="*{start_date}"/>-->


    <div class="form-group">
    <label for="trackProgress">Current Points:</label>
    <input th:field="*{trackProgress}" id="trackProgress" type="text"/>
    </div>
    <!--<p th:if="${#fields.hasErrors('end_date')}" th:errors="*{end_date}"/>-->
<div class="form-group">
    <label for="child_id">Select which child:</label>

    <div>
    <select name="child_id" id="child_id" type="text">
        <option th:each="child: ${children}" th:value="${child.id}" th:text="${child.user.username}"></option>
    </select>
    </div>
    </div>
    <br/>
    <input type="submit" class="login-buttons" id="createGoalButton" />

</form>
</div>
</div>
<footer th:replace="fragments/footer :: mainFooter"></footer>
</body>
</html>