<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="fragments/header :: main-header('View Goals')"></head>
    <link rel="stylesheet" href="/CSS/style.css"/>
</head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>
<div class="profile">
<div th:each="goal :${goal}">
    <h1>Your goal:</h1>
    <h1 th:text="${goal.goalName}">

    </h1>

    <h3>Total points needed:</h3>
    <p id="total-points" th:text="${goal.totalPoints}"></p>
    <h3>Current Points:</h3>
    <p id="track-progress" th:text="${goal.trackProgress}"></p>
</div>
<div class="progress">
    <div th:text="${goal.trackProgress}" id="myBar" class="progress-bar" role="progressbar" style="width:10px" aria-valuenow="${goal.totalPoints}"></div>
</div>
</div>
<button class="progress">Click Me</button>
<a th:href="@{/goals/{id}/update(id=${goal.id})}"><input type="submit" value="Update Goal"/></a>
<a th:href="@{/goals/{id}/delete(id=${goal.id})}"><input type="submit" value="Delete Goal"/></a>
<a th:href="@{/goals/{id}/reached(id=${goal.id})}"><input type="submit" value="Goal Completed"/></a>
<footer th:replace="fragments/footer :: mainFooter"></footer>
<script>
    var trackProgress = parseFloat(document.getElementById('track-progress').innerText);
    var totalPoints = parseFloat(document.getElementById('total-points').innerText);

    var totalProgress = (trackProgress / totalPoints) * 100;
    console.log(trackProgress);
    console.log(totalPoints);
    function move() {
        var elem = document.getElementById("myBar");
        var width = 0;
        var id = setInterval(frame, 10);

        function frame() {
            if (width >= totalProgress) {
                clearInterval(id);
            } else {
                width++;
                elem.style.width = width + '%';
            }
        }
    }
    move();
</script>

</body>
</html>