<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: main-header('Update Goals')"></head>

<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>


<div class="container">

    <div class="row">

        <div id="updateGoal" class="col text-center">

            <h1>Update Goal</h1>

            <form th:action="@{/goals/update}" method="post" th:object="${goal}">
                <label for="goalName">Name</label>
                <input id="goalName" th:field="${goal.goalName}"/>
                <br/>
                <label for="totalPoints">Total Points</label>
                <input id="totalPoints" th:field="${goal.totalPoints}"/>
                <br/>
                <label for="progress">Progress</label>
                <input id="progress" th:field="${goal.trackProgress}"/>
                <br/>
                <input type="hidden" name="goalIdx" th:value="${goal.id}"/>
                <br/>
                <input type="submit" value="Update Goal"/>
            </form>

            <form th:action="@{/goals/delete}" method="post" th:object="${goal}">

                <input type="hidden" name="goalIdy" th:value="${goal.id}" />

                <input class="btn btn-danger" type="submit" value="Delete Goal" />

            </form>

        </div>

    </div>

</div>

<footer th:replace="fragments/footer :: mainFooter"></footer>
</body>
</html>