<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

    <head th:replace="fragments/header :: main-header('Create Tasks')">
        <link rel='stylesheet' href='/fullcalendar/fullcalendar.min.css'/>
    </head>

<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>

<div class="profile">
<h1 th:if="${#authentication.principal.role == 'parent'}">Create new task</h1>
<h1 th:if="${#authentication.principal.role == 'child'}">Tasks</h1>
<hr/>
<div class="profile">
<div class="container">
    <div id="remote_container">

    </div>
    <div class="row">
        <!--///////////////////////////////////////////////////////////////////////////-->
        <!--///////////////////////////// Calendar Area ///////////////////////////////-->
        <!--///////////////////////////////////////////////////////////////////////////-->
        <div class="col" id="calendar">
        </div>
        <br/>
        <br/>
        <div class="col">
            <!--///////////////////////////////////////////////////////////////////////////-->
            <!--//////////// Modal displaying information about a specific event //////////-->
            <!--///////////////////////////////////////////////////////////////////////////-->
            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                <span class="sr-only">close</span></button>
                            <h4 id="modalTitle" class="modal-title"></h4>
                        </div>
                        <div id="modalBody" class="modal-body"></div>
                        <div class="modal-footer">
                            <!--///////////////////////////////////////////////////////////////////////////-->
                            <!--///////////////// Delete event button form inside modal /////////////////////-->
                            <!--///////////////////////////////////////////////////////////////////////////-->
                            <form th:if="${#authentication.principal.role == 'parent'}" id="deleteTask" th:action="@{/tasks/delete}" th:method="post"
                                  th:object="${task}">
                                <input type="hidden" name="goalId" th:value="${id}"/>
                                <input type="hidden" id="taskId" name="taskId"/>
                                <p th:text="${'this should work!'}"></p>
                                <input type="submit" class="btn btn-danger" id="deleteButton" value="Delete"/>
                            </form>
                            <div>

                            </div>
                            <div id="taskStatus">
                                <button th:if="${#authentication.principal.role == 'parent'}" type="submit"
                                        class="btn btn-primary" data-dismiss="modal" id="approve-task">
                                    Approve
                                </button>
                            </div>
                            <button th:if="${#authentication.principal.role == 'child'}" type="submit"
                                    class="btn btn-primary" data-dismiss="modal" id="completed-task">
                                completed
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--///////////////////////////////////////////////////////////////////////////-->
            <!--///////////////// Modal prompting user to create new Task /////////////////-->
            <!--///////////////////////////////////////////////////////////////////////////-->
            <div id="createModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span>
                            </button>
                            <h4 class="modal-title">Create new task</h4>
                        </div>
                        <div class="modal-body">
                            <form class="createTaskForm" th:action="@{/tasks/create}" th:method="post" th:object="${task}">
                                <input type="hidden" name="goalId" id="goalId" th:value="${id}"/>
                                <label for="title">Title:</label>
                                <input class="input-field" th:field="*{taskName}" id="title"/>
                                <br />
                                <br />
                                <label for="description">Description:</label>
                                <textarea class="input-field" th:field="*{taskDescription}" id="description">
                                </textarea>
                                <br />
                                <br />
                                <label for="points">points:</label>
                                <input class="input-field" th:field="*{points}" id="points"/>
                                <br />
                                <br />
                                <input type="hidden" id="startDateMoment" name="startDateMoment"/>
                                <input class="btn btn-primary" type="submit" th:value="Create"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!--///////////////////////////////////////////////////////////////////////////-->
<!--///////////////////////JS and Jquery Scripts //////////////////////////////-->
<!--///////////////////////////////////////////////////////////////////////////-->
<script src='/lib/jquery-3.2.1.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src='/lib/moment.min.js'></script>
<script src="/fullcalendar/fullcalendar.js"></script>
<script src='/js/main.js'></script>
<script src='/js/deleteTask.js'></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var tasks = /*[[${tasks}]]*/ '';
    tasks = JSON.parse(tasks);
    /*]]>*/
</script>
<script src='/js/jsonTasks.js'></script>
</body>
</html>