<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Create tasks</title>
    <meta charset="UTF-8"/>
    <link rel='stylesheet' href='/fullcalendar/fullcalendar.min.css'/>
    <link rel='stylesheet' href='/lib/bootstrap-3.3.7.min.css'/>
</head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>

<h1>Create new task</h1>
<hr/>
<div class="container">
    <div id="remote_container">

    </div>
    <div class="row">
        <!--///////////////////////////////////////////////////////////////////////////-->
        <!--///////////////////////////// Calendar Area ///////////////////////////////-->
        <!--///////////////////////////////////////////////////////////////////////////-->
        <div class="col" id="calendar" style="border: 1px solid #000; max-width: 500px; max-height: 500px;">
        </div>
        <br/>
        <br/>
        <div class="col">
            <!--///////////////////////////////////////////////////////////////////////////-->
            <!--//////////// Modal displaying information about a specific event //////////-->
            <!--///////////////////////////////////////////////////////////////////////////-->
            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                <span class="sr-only">close</span></button>
                            <h4 id="modalTitle" class="modal-title"></h4>
                        </div>
                        <div id="modalBody" class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--///////////////////////////////////////////////////////////////////////////-->
            <!--///////////////// Modal prompting user to create new Task /////////////////-->
            <!--///////////////////////////////////////////////////////////////////////////-->
            <div id="createModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span>
                            </button>
                            <h4 class="modal-title">Create new task</h4>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/tasks/create}" method="post" th:object="${task}">
                                <label for="title">Title:</label>
                                <input th:field="*{taskName}" id="title"/>
                                <label for="description">Description:</label>
                                <input th:field="*{taskDescription}" id="description"/>
                                <br/>
                                <input type="submit" th:value="Create"/>
                                <input type="hidden" name="startDate" id="startDate"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--///////////////////////////////////////////////////////////////////////////-->
<!--///////////////////////JS and Jquery Scripts //////////////////////////////-->
<!--///////////////////////////////////////////////////////////////////////////-->
<script src='/lib/jquery-3.2.1.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src='/lib/moment.min.js'></script>
<script src="/fullcalendar/fullcalendar.js"></script>
<script src='/js/main.js'></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var tasks = /*[[${tasks}]]*/ '';
    tasks = JSON.parse(tasks);
    /*]]>*/
</script>
<script src='/js/jsonTasks.js'></script>
</body>
</html>