<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

    <head th:replace="fragments/header :: main-header('Edit Task')"></head>

<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>

<!--Edit Form-->
<form th:action="@{/tasks/{id}/update(id=${task.id})}" method ="post" th:object = "${task}">
    Title:
    <input th:field="${task.taskName}"/>
    <br/>
    Description:
    <input th:field="${task.taskDescription}"/>
    <br/>
    <input type="submit" value="Update Task"/>
</form>

<form th:action="@{/tasks/{id}/delete(id=${task.id})}" method ="post" th:object = "${task}">
    <input type="submit" value="Delete Task"/>
</form>


<footer th:replace="fragments/footer :: mainFooter"></footer>
</body>
</html>