<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="CSS/style.css"/>
</head>
<body>
<footer id="my-footer" class="footer" th:fragment="mainFooter">
    <ul>
        <li>About</li>
        <li>Contact</li>
        <li>Address</li>

    </ul>
    <ul>
        <li>Privacy Policy</li>
        <li>Terms of Use</li>
        <li>Partners</li>
    </ul>
    <div>Copyright 2017, Thrifty, Inc.</div>

</footer>
</body>
</html>