<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="main-header(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel='stylesheet' href='/lib/bootstrap-3.3.7.min.css'/>
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet"/>
    <link rel="stylesheet" href="/CSS/style.css"/>
    <link rel='stylesheet' href='/fullcalendar/fullcalendar.min.css'/>
    <link rel="stylesheet" href="/CSS/goal-panels.css"/>
    <link rel="stylesheet" href="/CSS/background-colors.css"/>
    <link rel="stylesheet" href="/CSS/calendar.css"/>
    <link rel=“shortcut icon” href=“favicon.ico” />
</head>
<body>

</body>
</html>