<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/header :: main-header('About-us')"></head>

<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>
<div class="profile login-page">
            <h1 id="about-heading">Meet Team Thrifty!</h1>
    <div class="container">
        <div class="row">
            <div class="about-pics col-lg-4">
                <img th:src="@{/img/codeuppicrose.jpeg}" alt="rosalie" height="300" width="200" id="rosalie"/>
                <p>Rosalie Gomez</p>
            </div>

            <div class="about-pics col-lg-4">
                <img th:src="@{/img/andersoncardoso2.jpg}" alt="anderson" height="300" width="200" id="anderson"/>
                <p>Anderson Cardoso</p>

            </div>

            <div class="about-pics col-lg-4">
                <img th:src="@{/img/alexpotter2.jpg}" alt="alex" height="300" width="200" id="alex"/>
                <p>Alex Potter</p>

            </div>




        </div>
    </div>


</div>
<footer th:replace="fragments/footer :: mainFooter"></footer>
</body>
</html>