<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="fragments/header :: main-header('Your Profile')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>

<div class="container-fluid text-center">
<h2 id="edit-title">Update <span th:text="${parent.username}"></span>'s information</h2>
    <div class="row">
        <div class="col col-lg-12 col-md-12">
            <form action="" method="post" th:object="parent">
                <label for="username">Username:</label>
                <input type="text" id="username" th:field="${parent.username}" />
                <label for="email"></label>
                <input type="text" id="email" th:field="${parent.email}" />
                <input type="submit" th:value="Update" />
            </form>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: mainFooter"></footer>
</body>
</html>