<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/header :: main-header('Home')"></head>

<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>

<div id="homepage">
<h1>Saving made easy</h1>
<h3>Help your child learn the value of money</h3>
</div>

<div class="login-buttons">
<a href="/register"><input type="submit" value="Register" id="register"/></a>
<br/>
    <a href="/login"><input type="submit" value="Login" id="login"/></a>
</div>

<!--middle div-->
<hr/>

    <h1>HELP YOUR KIDS LEARN THE VALUE OF MONEY</h1>
    <ul>
        <li>Set goals</li>
        <li>Assign them tasks to help them attain their goals</li>
        <li>Have fun learning tha value of saving</li>
    </ul>

<hr/>
<!--ending div with register button-->
<div class="col-lg-6 register-text">
    <p>
        Sign up and begin setting goals and tasks for your kids!
    </p>
    <div class="login-buttons">
        <a href="/register"><input type="submit" value="Get Started" id="get-started"/></a>
    </div>
</div>
    <img th:src="@{/img/book.png}" alt="infographic" id="index-pic"/>

<div class="col-md-6 col-md-offset-2 info">
<img th:src="@{/img/cropped-info.png}" alt="infographic" class=""/>
    <div class="first">
        <h3 class="info-titles">Start with the basics.</h3>
        <p class="info-text">Sign up for Thrifty! Create a user profile for yourself and your children.</p>
</div>
    <div class="second">
        <h3 class="info-titles">Get the family involved!</h3>
        <p class="info-text">Begin explaining the importance of learning about money to your kids, and add goals for them.</p>
    </div>
    <div class="third">
        <h3 class="info-titles">Help your kids login and view their tasks.</h3>
        <p class="info-text">Explain which tasks must be completed in order for them to earn their goals.</p>
    </div>
    <div class="fourth">
        <h3 class="info-titles">Success!</h3>
        <p class="info-text">After completing their tasks, children earn their goals! Iterate the importance of working to earn something by rewarding your child's work</p>
    </div>
</div>
<footer th:replace="fragments/footer :: mainFooter"></footer>

</body>
</html>