<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/header :: main-header('Home')"></head>

<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>

<div id="homepage">
<h1>Saving made easy</h1>
<h3>Help your child learn the value of money</h3>
</div>

<div class="login-buttons">
<a href="/register"><input type="submit" value="Register" id="register"/></a>
<br/>
    <a href="/login"><input type="submit" value="Login" id="login"/></a>
</div>

<!--middle div-->

<div class="about">
    <h1>HELP YOUR KIDS LEARN THE VALUE OF MONEY</h1>

        <p>Set goals</p>
        <p>Assign them tasks to help them attain their goals</p>
        <p>Have fun learning tha value of saving</p>
        <div id="about-image"></div>
        <!--<img src="#" id="about-image"/>-->
</div>

<!--ending div with register button-->
<div class="col-lg-6 register-text">
    <p>
        Sign up and begin setting goals and tasks for your kids!
    </p>
    <div class="login-buttons">
        <a href="/register"><input type="submit" value="Get Started" id="get-started"/></a>
    </div>
</div>

<footer th:replace="fragments/footer :: mainFooter"></footer>
</body>
</html>