<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/header :: main-header('Log in')"></head>

<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>
<div class="profile login-page">
<div class="container">
    <div class="row">
        <div th:if="${param.error}">
            Invalid username or password
        </div>
        <div class="col-md-6 col-md-offset-3 login-form">
            <h2 id="login-title">Log in!</h2>
            <h4 id="text">New to Thrifty? <a href="/register">Sign up for free here.</a></h4>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <input id="username" class="username input-field" name="username" placeholder="username" type="text" />
            </div>
            <div class="form-group">
                <input id="password" class="password input-field" name="password"  placeholder="password" type="password" />
            </div>
            <input type="submit" value="Log In" class="col-md-6 col-md-offset-3 login-buttons"  id="signup-button"/>
        </form>
        </div>
    </div>
</div>


<footer th:replace="fragments/footer :: mainFooter"></footer>
</div>
</body>
</html>