<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:="http://www.w3.org/1999/xhtml">
<head>
    <title>Calendar</title>
    <meta charset="UTF-8"/>
    <link rel='stylesheet' href='/lib/bootstrap-3.3.7.min.css'/>
    <link rel='stylesheet' href='/fullcalendar/fullcalendar.min.css'/>
    <link rel="stylesheet" href="CSS/style.css"/>
</head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>


<a href="/goals/create"><input type="submit" value="Create a new goal"/></a>
<a href="/goals"><input type="submit" value="View all goals"/></a>
<a href="/tasks"><input type="submit" value="View current tasks"/></a>
<h1>Calendar</h1>




<!--///////////////////////////////////////////////////////////////////////////-->
<!--///////////////////////////// Calendar Area ///////////////////////////////-->
<!--///////////////////////////////////////////////////////////////////////////-->
<div id="calendar" style="border: 1px solid #000; max-width: 500px; max-height: 500px;">
</div>


<!--///////////////////////////////////////////////////////////////////////////-->
<!--///////////////////////JS and Jquery Scripts //////////////////////////////-->
<!--///////////////////////////////////////////////////////////////////////////-->
<script src='/lib/jquery-3.2.1.min.js'></script>
<script src='/lib/moment.min.js'></script>
<script src="/fullcalendar/fullcalendar.js"></script>
<script src='/js/main.js'></script>

<footer th:replace="fragments/footer :: mainFooter"></footer>
</body>
</html>
