<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:="http://www.w3.org/1999/xhtml">
<head>
    <title>Calendar</title>
    <meta charset="UTF-8"/>
    <link rel='stylesheet' href='/lib/bootstrap-3.3.7.min.css'/>
    <link rel='stylesheet' href='/fullcalendar/fullcalendar.min.css'/>
</head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>


<a href="/tasks/create"><input type="submit" value="Create a new task"/></a>
<a href="/goals"><input type="submit" value="View all tasks"/></a>
<a href="/tasks"><input type="submit" value="View current tasks"/></a>
<h1>Calendar</h1>


<!--///////////////////////////////////////////////////////////////////////////-->
<!--///////////////////////JS and Jquery Scripts //////////////////////////////-->
<!--///////////////////////////////////////////////////////////////////////////-->
<script src='/lib/jquery-3.2.1.min.js'></script>
<script src='/lib/moment.min.js'></script>
<script src="/fullcalendar/fullcalendar.js"></script>
<script src='/js/main.js'></script>
</body>
</html>
