<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="fragments/header :: main-header('Register your child')"></head>
    <link rel="stylesheet" href="CSS/style.css"/>
</head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>
<form th:action="@{/users/register-child}" method="post" th:object="${child}">
    <div class="form-group">
        <label for="username">Choose a username</label>
        <input th:field="*{username}" id="username" name="username"/>
    </div>
    <!--<div class="form-group">-->
        <!--<label for="email">Enter your email</label>-->
        <!--<input th:field="*{email}" id="email" name="email"/>-->
    <!--</div>-->
    <div class="form-group">
        <label for="password">Choose a password</label>
        <input th:field="*{password}" id="password" type="password"/>
    </div>

    <div class="form-group">
        <label for="score">Score (test)</label>
        <input id="score" name="score" type="text"/>
    </div>
    <input value="Sign me up" type="submit" class="btn btn-primary"/>

</form>

</body>
</html>