<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="fragments/header :: main-header('Register')"></head>
    <link rel="stylesheet" href="CSS/style.css"/>
</head>
<body>

<nav th:replace="fragments/navbar :: mainNavbar"></nav>
<br/>
<div class="container">

    <div class="col-lg-6 register-text">
        <h2>Register For Free</h2>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 register-form">
    <form th:action="@{/users/register}" method="post" th:object="${parent}">
        <div class="form-group">
            <label for="username">Choose a username</label>
            <input th:field="*{username}" id="username" name="username"/>
        </div>
        <div class="form-group">
            <label for="email">Enter your email</label>
            <input th:field="*{email}" id="email" name="email"/>
        </div>
        <div class="form-group">
            <label for="password">Choose a password</label>
            <input th:field="*{password}" id="password" type="password"/>
        </div>

        <div class="form-group">
            <label for="confirm-password">Confirm password</label>
            <input id="confirm-password" name="confirm-password" type="password"/>
        </div>
        <input value="Sign me up" type="submit" class="btn btn-primary" id="signup-button"/>
        <div th:if="${test}">
            <p>You must be logged in to create/edit a Tasks</p>
        </div>
    </form>
    </div>
</div>

<footer th:replace="fragments/footer :: mainFooter"></footer>
</body>
</html>