
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:="http://www.w3.org/1999/xhtml">
<head>
<head th:replace="fragments/header :: main-header('Your Profile')"></head>
    <link rel="stylesheet" href="CSS/style.css"/>
</head>
<body>
<nav th:replace="fragments/child-navbar :: childNavbar"></nav>



<th:block th:each="task : ${tasks}">

        <div th:if="${task.goal.user.id == loggedUser.id}">

        <h3 th:text="${task.taskName}"></h3>
        <p th:text="${task.taskDescription}"></p>
            <button th:if="${#authentication.principal.role == 'child'}" type="submit" class="btn btn-primary" data-dismiss="modal" id="completed-task">
                completed
            </button>

        </div>
    </th:block>

<footer th:replace="fragments/footer :: mainFooter"></footer>
</body>
</html>