.container {
    padding-top: 15px;

}

#child-panel{
    height: 250px;
}

.child-panel-heading{
    font-size: 40px;
    text-align: center;
}
.panel-body{
    font-size:20px;
    text-align: center;
    align-items: center;
}
.panel-heading{
    color: #7ECFC8;
}
/*.panel-default.panel-heading{*/
    /*background-color: #7ECFC8;*/

/*}*/

#my-kids-title {
    text-align: center;
    padding-bottom: 10px;
}

.child-goal-links {
    color: #444858;
    text-decoration: none;

}

.parent-goal-view {
    background-color: #7ECFC8;
}

/*//////////child profile panels/////////*/


.child-background {
    background-color: #70c6c1;
    /*background-image: url(../../img/orangeTri.png);*/
    /*!*background-repeat: no-repeat;*!*/
    /*background-size: cover;*/
}

.dashboard-heading, .done-goals-panel {
    background-color: #CCEDDC!important;
}

.task-page {
    text-align: center;
}

.complete-goals-header {
    text-align: center;
}
@media screen and (min-width:480px) {
    .profile {
        padding-top: 100px;
    }
}
