<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: main-header('Your Profile')"></head>


<body>
<!--using main navbar as a placeholder, but will need to make a custom nav for child profile bc child profile has different constraints-->
<nav th:replace="fragments/child-navbar :: childNavbar"></nav>


<div class="profile">
<div th:each="child :${child}">
    <h1>Hi, <span th:text="${child.user.username}"></span>!</h1>

</div>

<div class="panel panel-default">
    <div class="panel-heading">
        My Profile
    </div>
    <div class="panel-body">
        <ul>
            <li><a href="/goals/child">View Goals</a></li>
            <br/>
            <li><a th:href="@{/goals/completed/{id}(id=${child.user.id})}">View Completed Goals</a></li>
            <br/>
            <li><a href="/tasks">View your Tasks</a></li>
        </ul>
    </div>
</div>
</div>


<!--<div class="panel panel-default">-->
<!--<div class="panel-heading">-->
<!--Goals-->
<!--</div>-->
<!--<div class="panel-body">-->
<!--<ul>-->
<!--<li><a href="goals/create">Start New Goal</a></li>-->
<!--<br/>-->
<!--<li><a href="goals">View Goals</a></li>-->
<!--<br/>-->
<!--<li><a href="">View Completed Goals</a></li>-->
<!--<br/>-->
<!--</ul>-->
<!--</div>-->

<!--</div>-->

<!--<div class="panel panel-default">-->
<!--<div class="panel-heading">-->
<!--Tasks-->
<!--</div>-->
<!--<div class="panel-body">-->
<!--<ul>-->
<!--<li><a href="/tasks">View your Tasks</a></li>-->
<!--<br/>-->
<!--<li><a href="">Mark Task as Complete</a></li>-->
<!--<br/>-->
<!--<li><a href="">View Completed Tasks</a></li>-->
<!--<br/>-->
<!--</ul>-->
<!--</div>-->

<!--</div>-->

<footer th:replace="fragments/footer :: mainFooter"></footer>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="/js/progress-bar.js"></script>
</body>
</html>