<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <head th:replace="fragments/header :: main-header('Your Profile')"></head>
    <title>Calendar</title>
    <meta charset="UTF-8"/>
    <link rel='stylesheet' href='/lib/bootstrap-3.3.7.min.css'/>
    <link rel='stylesheet' href='/fullcalendar/fullcalendar.min.css'/>
    <link rel="stylesheet" href="CSS/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet"/>
</head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>

<!--possibly get rid of?-->
<!--<div th:each="parent :${parent}">-->
<!--<h1>Welcome, <span th:text="${parent.user.username}"></span>!</h1>-->
<!--</div>-->

<div class="profile">
<div th:each="child:${children}" class="panel panel-default" id="child-panel">

    <div th:text="${child.user.username}" class="panel-heading child-panel-heading">



    </div>

    <div class="panel-body">
        <div>
            <a th:href="@{/view-child-profile/{id}(id=${child.user.id})}">View Child's Goals</a>
        </div>

        <div>
            <a th:href="@{/goals/completed/{id}(id=${child.user.id})}">View Completed Goals</a>
        </div>

        <!--<div>-->
            <!--<p th:text="${goal.goalName}"></p>-->
        <!--</div>-->

        <!--<div>-->
            <!--<a th:href="@{/view-child-profile/{id}(id=${child.user.email})}">View Child Profile</a>-->
        <!--</div>-->





        <!--<ul>-->
            <!--Total Points: <li class="total-points" th:text="${goal.totalPoints}"></li>-->
            <!--<br />-->
            <!--Current Points: <li class="track-progress" th:text="${goal.trackProgress}"></li>-->
            <!--<br />-->
            <!--<a th:href="@{/goals/{id}(id=${child.user.id})}">View Goal</a>-->
            <!--<br />-->
            <!--<a th:href="@{/tasks/create(id=${goal.id})}">Add tasks</a>-->
        <!--</ul>-->
        <!--<div class="progress">-->
            <!--<div th:text="${goal.trackProgress}" class="myBar progress-bar" role="progressbar" aria-valuenow="${goal.totalPoints}"></div>-->
        <!--</div>-->
    </div>
</div>
</div>

<div>
<a href="/tasks/create"><input type="submit" value="Create a new task"/></a>
<a href="/goals"><input type="submit" value="View all tasks"/></a>
<a href="/tasks"><input type="submit" value="View current tasks"/></a>
</div>





<!--///////////////////////////////////////////////////////////////////////////-->
<!--///////////////////////JS and Jquery Scripts //////////////////////////////-->
<!--///////////////////////////////////////////////////////////////////////////-->
<script src='/lib/jquery-3.2.1.min.js'></script>
<script src='/lib/moment.min.js'></script>
<script src="/fullcalendar/fullcalendar.js"></script>
<script src='/js/main.js'></script>
<script src="/js/progress-bar"></script>

<footer th:replace="fragments/footer :: mainFooter"></footer>
</body>
</html>
