<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">

    <head th:replace="fragments/header :: main-header('Your Profile')"></head>

<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>

<!--possibly get rid of?-->
<!--<div th:each="parent :${parent}">-->
<!--<h1>Welcome, <span th:text="${parent.user.username}"></span>!</h1>-->
<!--</div>-->

<div class="profile">
<div th:each="child:${children}" class="panel panel-default" id="child-panel">

    <div th:text="${child.user.username}" class="panel-heading child-panel-heading">



    </div>

    <div class="panel-body">
        <div>
            <a th:href="@{/view-child-profile/{id}(id=${child.user.id})}">View Child's Goals</a>
        </div>
        <div>
            <a th:href="@{/goals/completed/{id}(id=${child.user.id})}">View Completed Goals</a>
        </div>
        <div>
            <a th:href="@{/goals/update}">Add tasks</a>
        </div>
        <!--<div>-->
            <!--<p th:text="${goal.goalName}"></p>-->
        <!--</div>-->

        <!--<div>-->
            <!--<a th:href="@{/view-child-profile/{id}(id=${child.user.email})}">View Child Profile</a>-->
        <!--</div>-->



        <!--<ul>-->
            <!--Total Points: <li th:text="${goal.totalPoints}"></li>-->
            <!--<br />-->
            <!--Current Points: <li th:text="${goal.trackProgress}"></li>-->
            <!--<br />-->
            <!--<a th:href="@{/goals/{id}(id=${child.user.id})}">View Goal</a>-->
            <!--<br />-->
            <!--<a th:href="@{/tasks/create(id=${goal.id})}">Add tasks</a>-->
        <!--</ul>-->
    </div>

</div>






</div>

<!--///////////////////////////////////////////////////////////////////////////-->
<!--///////////////////////JS and Jquery Scripts //////////////////////////////-->
<!--///////////////////////////////////////////////////////////////////////////-->
<script src='/lib/jquery-3.2.1.min.js'></script>
<script src='/lib/moment.min.js'></script>
<script src="/fullcalendar/fullcalendar.js"></script>
<script src='/js/main.js'></script>
<script src="/js/progress-bar"></script>
<footer th:replace="fragments/footer :: mainFooter"></footer>
</body>
</html>
