<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <head th:replace="fragments/header :: main-header('Your Profile')"></head>
    <title>Calendar</title>
    <meta charset="UTF-8"/>
    <link rel='stylesheet' href='/lib/bootstrap-3.3.7.min.css'/>
    <link rel='stylesheet' href='/fullcalendar/fullcalendar.min.css'/>
    <link rel="stylesheet" href="/CSS/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet"/>
</head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>
<div class="profile">

<div>
    <h1 class="goals-header"><span th:text="${child.user.username}"></span>'s Goals</h1>
</div>

<div th:each="goal:${goals}" class="panel panel-default" style="max-width:75%;margin-left:auto; margin-right:auto;">
    <div class="panel-heading dashboard-heading">
    <h3 th:text="${goal.goalName}">

    </h3>
    </div>
    <div class="panel-body">
        <ul>
            Total Points: <li class="total-points" th:text="${goal.totalPoints}"></li>
            <br />
            Current Points: <li class="track-progress" th:text="${goal.trackProgress}"></li>
            <br />
            <a th:href="@{/tasks/create(id=${goal.id})}">Add tasks</a>
            <br />
            <a th:href="@{/goals/update/{id}(id=${goal.id})}">Update goal</a>
        </ul>

        <!--For Progress Bar-->
        <div class="progress">
        <div th:text="${goal.trackProgress}" class="myBar progress-bar" role="progressbar" aria-valuenow="${goal.totalPoints}"></div>
        </div>

    </div>
</div>
</div>


<!--For Progress Bar-->

<!--///////////////////////////////////////////////////////////////////////////-->
<!--///////////////////////JS and Jquery Scripts //////////////////////////////-->
<!--///////////////////////////////////////////////////////////////////////////-->
<script src='/lib/jquery-3.2.1.min.js'></script>
<script src='/lib/moment.min.js'></script>
<script src="/fullcalendar/fullcalendar.js"></script>
<script src='/js/main.js'></script>
<script src="/js/progress-bar.js"></script>

<footer th:replace="fragments/footer :: mainFooter"></footer>

</body>
</html>